<h1><%- title %></h1>
<form method="post">
  <div class="mb-3">
    <label for="firstNumber" class="form-label">First Number</label>
    <input
      type="number"
      class="form-control"
      id="firstNumber"
      name="firstNumber"
    />
  </div>
  <div class="mb-3">
    <label for="secondNumber" class="form-label">Second Number</label>
    <input
      type="number"
      class="form-control"
      id="secondNumber"
      name="secondNumber"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
