{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "arrowParens": "always",
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "printWidth": 100
      }
    }
  ]
}
