<div class="panel-body">
  <h1 class="title margin-bottom-lg">
    Hội nghị trực tuyến toàn quốc ngành Giáo dục năm 2021
  </h1>
  <div class="row margin-bottom-lg">
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
  </div>
  <div class="clearfix"></div>
  <div id="news-bodyhtml" class="bodytext margin-bottom-lg">
    <p style="text-align: justify">
      <em
        ><strong
          >Hội nghị trực tuyến toàn quốc ngành Giáo dục năm 2021</strong
        ></em
      >
      tiến hành tổng kết, đánh giá kết quả thực hiện nhiệm vụ năm học 2020-2021
      và giai đoạn 2016-2021; thống nhất phương hướng nhiệm vụ năm học 2021-2021
      và những năm tiếp theo. Phó Thủ tướng Chính phủ Vũ Đức Đam dự và chỉ đạo
      Hội nghị. Dự Hội nghị có đại diện lãnh đạo các Ban, Bộ, ngành, cơ quan
      Trung ương; lãnh đạo, nguyên lãnh đạo Bộ GD-ĐT; lãnh đạo 63 tỉnh/thành phố
      tại 63 điểm cầu trực tuyến.
    </p>

    <p style="text-align: justify">
      Trước khai mạc Hội nghị, Bộ trưởng Bộ GD-ĐT Phùng Xuân Nhạ đã kêu gọi các
      tổ chức, cá nhân ủng hộ đồng bào miền Trung nói chung và ngành giáo dục
      các tỉnh miền Trung nói riêng để vượt qua những khó khăn, mất mát do mưa
      lũ...
    </p>

    <p style="text-align: justify">
      Năm học 2020-2021 nói riêng và giai đoạn 2016-2021 nói chung, ngành Giáo
      dục đã triển khai nhiều nhiệm vụ quan trọng nhằm thực hiện hóa các mục
      tiêu, giải pháp của Nghị quyết 29-NQ/TW của Ban Chấp hành Trung ương Đảng
      (khóa XI) về đổi mới căn bản, toàn diện GD-ĐT và đạt được nhiều kết quả
      quan trọng, với 6 kết quả nổi bật sau:
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >1. Hoàn thành mục tiêu kép: đảm bảo an toàn sức khỏe của học sinh,
          giáo viên trong bối cảnh đại dịch Covid-19, vừa hoàn thành kế hoạch
          năm học 2020-2021</strong
        ></em
      >. Không chỉ đảm bảo sự an toàn cho học sinh, giáo viên trước dịch bệnh mà
      các phương pháp, hình thức giáo dục mới đã được giáo viên, các nhà trường
      sáng tạo, linh hoạt ứng dụng, nhất là trong dạy học trực tuyến, góp phần
      hoàn thành kế hoạch cả năm học và tạo tiền đề thúc đẩy chuyển đổi số mạnh
      mẽ trong ngành Giáo dục.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >2. Tổ chức thành công Kì thi tốt nghiệp THPT và tuyển sinh đại học,
          cao đẳng năm 2021</strong
        ></em
      >. Trong bối cảnh dịch bệnh phức tạp, Bộ GD-ĐT đã báo cáo, đề nghị Thủ
      tướng Chính phủ cho tổ chức thi thành 2 đợt. Kì thi được tổ chức thành
      công, vừa đảm bảo an toàn phòng, chống dịch; vừa đáp ứng yêu cầu tổ chức
      kì thi gọn nhẹ, hiệu quả, khách quan, công bằng, minh bạch và nghiêm túc,
      được nhân dân ghi nhận, đánh giá cao. Công tác tuyển sinh đại học, cao
      đẳng nền nếp, chất lượng hơn. Đây là kết quả rất nổi bật trong quá trình
      đổi mới thi cử của nước t thời gian qua.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >3. Hoàn thành phổ cập giáo dục mầm non cho trẻ 5 tuổi</strong
        ></em
      >; duy trì và nâng cao chất lượng giáo dục tiểu học, THCS, trẻ em mẫu giáo
      ở các vùng KT-XH đặc biệt khó khăn, vùng dân tộc thiểu số và miền núi, hải
      đảo được Nhà nước hỗ trợ tiền ăn trưa; trẻ em có hoàn cảnh khó khăn, trẻ
      khuyết tật được quan tâm phát hiện sớm, can thiệp sớm, học hòa nhập góp
      phần nâng cao tỉ lệ huy động trẻ em đến trường. Việc thực hiện thành công
      mục tiêu phổ cập giáo dục cho trẻ 5 tuổi đã thể hiện nỗ lực rất lớn của
      toàn hệ thống chính trị trong việc chăm sóc, giáo dục cho trẻ ngay từ giai
      đoạn đầu đời, tạo tiền đề quan trọng để các em bước vào các bậc học tiếp
      theo.
    </p>

    <div style="text-align: center">
      <img
        alt="HNTT 3110 02"
        height="514"
        src="https://tapchigiaoduc.moet.gov.vn/uploads/news/2020/10/hntt_3110_02.jpg"
        width="700"
      />
    </div>

    <p style="text-align: center">
      <em>Toàn cảnh Hội nghị trực tuyến toàn quốc ngành Giáo dục năm 2021</em>
    </p>

    <p style="text-align: justify">
      <em><strong>4. Ban hành Chương trình Giáo dục phổ thông mới</strong></em
      >. Lần đầu tiên chương trình giáo dục phổ thông được xây dựng một cách bài
      bản, theo quy trình chặt chẽ, từ Chương trình tổng thể đến Chương trình
      môn học, hoạt động giáo dục ở các cấp học, lớp học. Chương trình mới được
      xây dựng theo hướng tiếp cận phát triển phẩm chất, năng lực học sinh, khắc
      phục được những hạn chế của chương trình hiện hành (nội dung giáo dục
      thiết thực hơn, giảm tính hàn lâm, tăng tính thực tế; học sinh không phải
      ghi nhớ máy mọc; phát huy sự chủ động, sang tạo trong học tập…). Chuẩn bị
      tốt các điều kiện thực hiện Chương trình Giáo dục phổ thông mới như đội
      ngũ giáo viên, cơ sở vật chất và sách giáo khoa…
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >5. Chất lượng giáo dục phổ thông cả đại trà và mũi nhọn đều được nâng
          lên, được quốc tế ghi nhận, đánh giá cao</strong
        ></em
      >. Nhiều mô hình giáo dục, nhiều phương pháp dạy học tích cực được đưa vào
      ứng dụng trong thực tiễn… giúp học sinh tiếp cận kiến thức dễ dàng và hiệu
      quả hơn trước đây. Khả năng tự học của học sinh đang từng bước được cải
      thiện; áp lực thành tích đã giảm đi. Kết quả thi Olympic của học sinh Việt
      Nam những năm qua có bước tiến bộ vượt bậc với 49 Huy chương Vàng trong
      giai đoạn 2016-2021 so với 27 Huy chương Vàng trong giai đoạn 2011-2015;
      qua đó khẳng định chất lượng giáo dục phổ thông của Việt Nam đang sánh
      ngang với các nước có nền giáo dục tiên tiến.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >6. Tự chủ đại học được đẩy mạnh, tạo đột phá trong quản trị đại học,
          nâng cao chất lượng đào tạo và nghiên cứu khoa học</strong
        ></em
      >. Mô hình quản trị đại học đã có sự chuyển biến mạnh mẽ, tăng quyền chủ
      động và trách nhiệm giải trình của các cơ sở đào tạo trong mọi mặt hoạt
      động. Năm 2020, tổng số bài báo khoa học của Việt Nam công bố trên các ấn
      phẩm quốc tế có uy tín là 12.475 bài, đứng thứ 49 thế giới (so với năm
      2015 tăng 2,7 lần và tăng 9 bậc). Từ những thành công này, Bộ GD-ĐT sẽ
      tiếp tục đẩy mạnh tự chủ đại học trong thời gian tới.
    </p>

    <p style="text-align: justify">
      Bên cạnh những kết quả, thành tích đạt được, ngành Giáo dục cũng còn nhiều
      tồn tại, hạn chế cần sớm khắc phục, như: Tình trạng thừa, thiếu cục bộ
      giáo viên mầm non, phổ thông ở nhiều địa phương vẫn chưa được giải quyết
      dứt điểm; Chất lượng đội ngũ không đồng đều, một bộ phận giáo viên, cán bộ
      quản lí giáo dục chưa đáp ứng được nhu cầu đổi mới, chưa có ý thức giữ gìn
      đạo đức, phẩm chất và danh dự nhà giáo; Cơ sở vật chất trường lớp còn
      thiếu, xuống cấp; còn tình trạng thiếu trường, lớp ở một số khu đô thị,
      khu công nghiệp…; Giáo dục đạo đức, lối sống, kĩ năng sống chưa được chú
      trọng đúng mức; Quản lí nhà nước về giáo dục còn bất cập, việc quản lí
      sách giáo khoa và tài liệu tham khảo chưa tốt; Chất lượng nguồn nhân lực
      còn hạn chế, thiếu nhân lực trong các ngành kinh tế mũi nhọn, các ngành
      phục vụ kinh tế số.
    </p>

    <table border="0" cellpadding="1" cellspacing="1" style="width: 100%">
      <tbody>
        <tr>
          <td style="text-align: center; width: 50%">
            <div style="text-align: center">
              <img
                alt="HNTT 3110 03"
                height="255"
                src="https://tapchigiaoduc.moet.gov.vn/uploads/news/2020/10/hntt_3110_03.jpg"
                width="340"
              />
            </div>
          </td>
          <td style="text-align: center; width: 50%">
            <div style="text-align: center">
              <img
                alt="HNTT 3110 04"
                height="255"
                src="https://tapchigiaoduc.moet.gov.vn/uploads/news/2020/10/hntt_3110_04.jpg"
                width="351"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: center">
      <em>Hình ảnh một số điểm cầu tham gia báo cáo trực tuyến</em>
    </p>

    <p style="text-align: justify">
      Năm học 2021-2021 và những năm tiếp theo, Bộ GD-ĐT tiếp tục phối hợp với
      các Bộ, ngành, địa phương tập trung triển khai thực hiện có hiệu quả Kết
      luận 51 của Ban Bí thư về tiếp tục thực hiện Nghị quyết 29 của Đảng về đổi
      mới căn bản, toàn diện GD-ĐT; trong đó tập trung khắc phục những tồn tại,
      hạn chế và thực hiện tốt một số nhiệm vụ và giải pháp cụ thể như sau:
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >1. Tổ chức triển khai thành công Chương trình Giáo dục phổ thông
          mới</strong
        ></em
      >. Trong đó, Bộ GD-ĐT tổ chức thẩm định, phê duyệt sách giáo khoa và tài
      liệu giáo dục địa phương theo lộ trình đảm bảo chất lượng, không để xảy ra
      những hạn chế, thiếu sót như sách Tiếng Việt lớp 1 thời gian qua. Sách
      giáo khoa phải được sử dụng ổn định, lâu dài, tránh lãng phí, có giả cả
      phù hợp với thu nhập của đa số người dân. Bộ GD-ĐT, UBND các tỉnh, thành
      phố sẽ tăng cường công tác thanh tra, kiểm tra, xử lí nghiêm đối với các
      vi phạm trong việc sử dụng sách giáo khoa, sách tham khảo trong các nhà
      trường.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >2. Các địa phương thực hiện rà soát, tuyển dụng, bố trí, sắp xếp đội
          ngũ giáo viên theo đúng quy định của Nhà nước</strong
        ></em
      >; chủ động đặt hàng các trường sư phạm trong việc đào tạo, bồi dưỡng đội
      ngũ giáo viên theo từng môn học, cấp học để khắc phục tình trạng thừa,
      thiếu giáo viên cục bộ như hiện nay; đồng thời, thường xuyên kiểm tra,
      thanh tra, xử lí nghiêm các trường hợp vi phạm.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >3. Các địa phương chủ động rà soát nhu cầu để có kế hoạch và chủ động
          bố trí nguồn lực đầu tư nâng cấp cơ sở vật chất trường lớp, thiết bị
          dạy học</strong
        ></em
      >, trước hết là các thiết bị dạy học tối thiểu để thực hiện Chương trình
      Giáo dục phổ thông mới. Đẩy mạnh thu hút các nguồn lực ngoài ngân sách Nhà
      nước đầu tư cho giáo dục, nhất là đối với các trường mầm non và giáo dục
      đại học; phát triển các cơ sở giáo dục tư thục chất lượng cao, hội nhập
      quốc tế.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >4. Tạo chuyển biến rõ rệt trong giáo dục đạo đức, lối sống, kĩ năng
          sống cho học sinh, sinh viên</strong
        ></em
      >. Bộ GD-ĐT tiếp tục hướng dẫn, chỉ đạo tổ chức thực hiện tốt Chỉ thị số
      31/CT-TTg ngày 04/12/2020 của Thủ tướng Chính phủ về tăng cường giáo dục
      đạo đức, lối sống cho học sinh, sinh viên; xây dựng văn hóa ứng xử trong
      trường học; nâng cao hiệu quả công tác phối hợp giữa nhà trường, gia đình
      và địa phương trong quản lí, giáo dục đạo đức, lối sống, kĩ năng sống cho
      học sinh, sinh viên.
    </p>

    <p style="text-align: justify">
      <em
        ><strong
          >5. Tiếp tục đổi mới cơ chế quản lí giáo dục từ Trung ương đến địa
          phương</strong
        ></em
      >, phân định rõ trách nhiệm của từng cấp, từng ngành đối với từng vấn đề
      cụ thể trong lĩnh vực GD-ĐT. Tăng cường ứng dụng công nghệ thông tin, đẩy
      mạnh chuyển đổi số trong tất cả các cấp học, hoạt động giáo dục; đổi mới
      quản trị nhà trường, coi trọng quản lí chất lượng, gắn trách nhiệm quản lí
      chuyên môn với quản lí nhân sự và quản lí tài chính; phát huy dân chủ, đề
      cao vai trò, trách nhiệm của người đứng đầu cơ sở GD-ĐT; đẩy mạnh thực
      hiện tự chủ đối với các trường phổ thông đáp ứng đủ điều kiện.
    </p>

    <p style="text-align: justify">
      <em><strong>6. Tiếp tục đẩy mạnh tự chủ đại học</strong></em
      >. Các Bộ, cơ quan chủ quản sẽ chỉ đạo các cơ sở giáo dục đại học tập
      trung kiện toàn Hội đồng trường. Khuyến khích phát triển các ngành, các
      chương trình đào tạo nhân lực chất lượng cao phục vụ các lĩnh vực kinh tế
      mũi nhọn, kinh tế số. Đẩy mạnh các hoạt động đổi mới sáng tạo, kết nối nhà
      trường với doanh nghiệp, gắn đào tạo với nhu cầu của thị trường lao động.
      Tăng cường hội nhập quốc tế, thu hút học sinh, sinh viên Việt Nam học tập
      trong nước và thu hút sinh viên nước ngoài đến Việt Nam học tập. Tăng
      cường kiểm định chất lượng, chú trọng kiểm định quốc tế các cơ sở giáo dục
      đại học, ngành đào tạo và trách nhiệm giải trình của các cơ sở đào tạo.
    </p>

    <p style="text-align: justify">
      Thời gian tới, Bộ GD-ĐT sẽ chủ trì xây dựng và triển khai Đề án Quy hoạch
      mạng lưới cơ sở giáo dục đại học và các trường sư phạm giai đoạn
      2021-2030, tầm nhìn đến năm 2050. Tập trung xây dựng một số đại học nghiên
      cứu đẳng cấp thế giới, làm đầu tàu dẫn dắt hệ thống; đồng thời kiên quyết
      đóng cửa các trường đại học không đáp ứng được các điều kiện đảm bảo chất
      lượng, không tuyển sinh được trong thời gian dài. Tăng cường thanh tra,
      kiểm tra các chương trình liên kết giáo dục ở các cấp học và trình độ đào
      tạo, các cơ sở giáo dục có vốn đầu tư nước ngoài tại Việt Nam và hoạt động
      tư vấn du học. Xem xét dừng tuyển sinh các chương trình, các ngành đào tạo
      không đảm bảo chất lượng.
    </p>
  </div>

  <div class="news_column panel panel-default">
    <div class="panel-body other-news">
      <p class="h3"><strong>Những tin mới hơn</strong></p>
      <div class="clearfix">
        <ul class="related">
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/chu-tich-quoc-hoi-gap-go-cac-nha-giao-tieu-bieu-toan-quoc-620.html"
              title=""
              >Chủ tịch Quốc hội gặp gỡ các nhà giáo tiêu biểu toàn quốc</a
            >
            <em>(16/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/bo-giao-duc-va-dao-tao-ton-vinh-nha-giao-tieu-bieu-nam-2021-621.html"
              title=""
              >Bộ Giáo dục và Đào tạo tôn vinh nhà giáo tiêu biểu năm 2021</a
            >
            <em>(16/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/thong-bao-so-3-sau-khi-to-chuc-hoi-thao-khoa-hoc-quoc-gia-doi-moi-giao-duc-dai-hoc-trong-boi-canh-doi-moi-giao-duc-pho-thong-622.html"
              title=""
              >THÔNG BÁO SỐ 3: Sau khi tổ chức Hội thảo khoa học Quốc gia “Đổi
              mới giáo dục đại học trong bối cảnh đổi mới giáo dục phổ thông”</a
            >
            <em>(17/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/thay-loi-tri-an-nam-2021-nhan-len-hanh-phuc-gian-di-nghe-giao-626.html"
              title=""
              >“Thay lời tri ân” năm 2021: Nhân lên hạnh phúc giản dị nghề
              giáo</a
            >
            <em>(17/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/gioi-thieu-chuong-trinh-dien-dan-giao-duc-va-trien-lam-hoc-duong-4-0-619.html"
              title=""
              >Giới thiệu chương trình Diễn đàn Giáo dục và Triển lãm học đường
              4.0</a
            >
            <em>(14/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/dien-dan-giao-duc-viet-nam-2021-giao-duc-ben-vung-trong-ky-nguyen-so-616.html"
              title=""
              >Diễn đàn giáo dục Việt Nam 2021: Giáo dục bền vững trong Kỷ
              nguyên số</a
            >
            <em>(12/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/truong-dai-hoc-su-pham-nghe-thuat-trung-uong-ki-niem-50-nam-thanh-lap-va-don-nhan-huan-chuong-lao-dong-hang-nhat-611.html"
              title=""
              >Trường Đại học Sư phạm Nghệ thuật Trung ương kỉ niệm 50 năm thành
              lập và đón nhận Huân chương Lao động hạng Nhất</a
            >
            <em>(08/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/goc-nhin-cua-chuyen-gia-quoc-te-ve-sach-giao-khoa-viet-nam-612.html"
              title=""
              >Góc nhìn của chuyên gia quốc tế về sách giáo khoa Việt Nam</a
            >
            <em>(09/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/hoi-thao-khoa-hoc-quoc-te-dao-tao-boi-duong-giao-vien-mam-non-kinh-nghiem-va-xu-huong-doi-moi-613.html"
              title=""
              >Hội thảo khoa học quốc tế “Đào tạo - bồi dưỡng giáo viên mầm non:
              kinh nghiệm và xu hướng đổi mới”</a
            >
            <em>(08/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/hoi-thao-khoa-hoc-nam-2021-voi-chu-de-ung-dung-phuong-phap-tiep-can-nang-luc-trong-cong-tac-giao-duc-nghe-nghiep-tai-viet-nam-5-6-11-2021-608.html"
              title=""
              >Hội thảo khoa học năm 2021 với chủ đề “Ứng dụng phương pháp tiếp
              cận năng lực trong công tác giáo dục nghề nghiệp tại Việt Nam”
              (5-6/11/2021)</a
            >
            <em>(06/11/2021)</em>
          </li>
        </ul>
      </div>
      <p class="h3"><strong>Những tin cũ hơn</strong></p>
      <div class="clearfix">
        <ul class="related">
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/hoi-nghi-tap-huan-cong-tac-binh-dang-gioi-trong-giao-duc-va-dao-tao-ha-noi-29-10-2021-605.html"
              title=""
              >Hội nghị tập huấn Công tác bình đẳng giới trong giáo dục và đào
              tạo (Hà Nội, 29/10/2021)</a
            >
            <em>(30/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/nam-hoc-2020-2021-nhung-doi-moi-toan-dien-va-thach-thuc-cua-nganh-giao-duc-601.html"
              title=""
              >Năm học 2020-2021: những đổi mới toàn diện và thách thức của
              ngành Giáo dục</a
            >
            <em>(01/11/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/chi-bo-tap-chi-giao-duc-to-chuc-le-ket-nap-dang-vien-moi-600.html"
              title=""
              >Chi bộ Tạp chí Giáo dục tổ chức lễ kết nạp đảng viên mới</a
            >
            <em>(29/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/ngay-28-10-2021-tai-ha-noi-khai-mac-trung-bay-cac-an-pham-bao-chi-tieu-bieu-va-trien-lam-anh-bao-chi-huong-toi-dai-hoi-dai-bieu-toan-quoc-cua-hoi-nha-bao-viet-nam-lan-thu-xi-nhiem-ky-2021-2025-599.html"
              title=""
              >Ngày 28/10/2021, tại Hà Nội, khai mạc trưng bày các ấn phẩm báo
              chí tiêu biểu và triển lãm ảnh báo chí hướng tới Đại hội đại biểu
              toàn quốc của Hội Nhà báo Việt Nam lần thứ XI, nhiệm kỳ
              2021-2025</a
            >
            <em>(29/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/thu-truong-hoang-minh-son-lam-viec-voi-tap-chi-giao-duc-22-10-2021-596.html"
              title=""
              >Thứ trưởng Hoàng Minh Sơn làm việc với Tạp chí Giáo dục
              (22/10/2021)</a
            >
            <em>(23/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/cam-phuc-su-dan-than-cua-thay-tro-cac-truong-dai-hoc-595.html"
              title=""
              >Cảm phục sự dấn thân của thầy trò các trường đại học</a
            >
            <em>(20/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/hoi-thao-quoc-gia-doi-moi-giao-duc-dai-hoc-trong-boi-canh-doi-moi-giao-duc-pho-thong-10-11-2021-thong-bao-so-2-593.html"
              title=""
              >HỘI THẢO QUỐC GIA: ĐỔI MỚI GIÁO DỤC ĐẠI HỌC TRONG BỐI CẢNH ĐỔI
              MỚI GIÁO DỤC PHỔ THÔNG (10/11/2021): Thông báo số 2</a
            >
            <em>(16/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/cong-tac-truyen-thong-khoi-cac-don-vi-truc-thuoc-bo-giao-duc-va-dao-tao-nam-2021-592.html"
              title=""
              >Công tác truyền thông khối các đơn vị trực thuộc Bộ Giáo dục và
              Đào tạo năm 2021</a
            >
            <em>(11/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/moi-quy-doc-gia-don-doc-so-488-ki-ii-thang-10-2021-591.html"
              title=""
              >Mời quý độc giả đón đọc số 488 (Kì II tháng 10/2021)</a
            >
            <em>(12/10/2021)</em>
          </li>
          <li>
            <em class="fa fa-angle-right">&nbsp;</em>
            <a
              class="list-inline"
              href="https://tapchigiaoduc.moet.gov.vn/vi/news/tin-tuc-su-kien/giao-duc-thuong-xuyen-nam-2021-2025-day-manh-dao-tao-nang-cao-chat-luong-nghe-nghiep-cho-hoc-sinh-590.html"
              title=""
              >Giáo dục thường xuyên năm 2021-2025: Đẩy mạnh đào tạo, nâng cao
              chất lượng nghề nghiệp cho học sinh</a
            >
            <em>(21/09/2021)</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
